<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>

    .techumain{
      width: 35%;
      margin: 25px auto 100px;
      padding: 45px;
      color: #43A047;
      text-align: center;
    }

    .login-page {
      width: 28%;
      margin: 25px auto 0px;
      padding: 45px;
      background: #FFFFFF;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .progress-bar {
      width: 34%;
      margin: 0px auto 0px;

    }

    .login-page paper-input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      width: 100%;
      border: 0;
      margin: auto;
      padding: 2px;
      box-sizing: border-box;
      font-size: 14px;
      color:grey;
    }

    paper-button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 100%;
      margin-top: 25px;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
    }

    paper-button:hover,paper-button:active,paper-button:focus {
      background: #43A047;
    }

    .login-page .title {
      margin: auto;
      color: #43A047;
      font-size: 25px;
      text-align: center;
    }


    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
  }

  vaadin-combo-box{
    color:#43A047;
    font: 500 13px "Open Sans", sans-serif;
    margin: 0px auto 0px;
  }

  .combo-label{
    width: 67%;
    color:#43A047;
    font: 500 13px "Open Sans", sans-serif;
    margin: 20px auto 0px;
  }

    </style>
  </template>
</dom-module>
