<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-column.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/vaadin-combo-box.html">
<link rel="import" href="../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/vaadin-date-picker.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="app-data.html">
<link rel="import" href="techu-clientdetails.html">
<link rel="import" href="techu-map.html">
<link rel="import" href="shared-styles.html">

<dom-module id="techu-mov">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --valo-body-text-color:rgb(133, 139, 155);;
        --valo-secondary-text-color:#43A047;
        --valo-font-size:13px;
        --paper-input-container-input: {
          font-size: 15px;
        };
      }

      .reload {
        color: #43A047;
        width: 25px;
        margin-left: auto;
        margin-right: auto;
      }

      paper-progress {
        width: 67%;
        margin: 0px auto 0px;
      }

      .accounts-combo {
        width: 67%;
        margin: 10px auto 10px;

      }

      vaadin-grid {
       height: auto;
       width: 67%;
       margin: 0px auto 0px;
       font: 500 13px "Open Sans", sans-serif;
       text-align: center;
       };

      vaadin-grid#movsTable .header-content {
        padding: 5px;
        justify-content: space-between;
        text-align: center;
      }

      .mov-button {
        width: 120px;
        margin-top: 0px;
        padding: 10px;
        font-size: 11px;
        float:right;
      }
      paper-dialog{
          width: 40%;
      }
      paper-input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        width: 80%;
        border: 0;
        margin: 0px auto 0px;
        padding: 0px;
        font-size: 9px;
        color:grey;
      }
      .title {
        margin:10px auto 0px;
        color: #43A047;
        font-size: 20px;
        text-align: center;
      }
      .datePicker{
        width:50%;
        margin: 50px auto 0px;
        display: flex;
        justify-content: center;
      }
      .dialog-buttons{
        display: flex;
        justify-content: center;
      }

      .dialog-button {
        width: 20%;
        margin-top: 0px;
        padding: 10px;
        font-size: 11px;
      }

      .account-dialog-text{
        width: 80%;
        margin: 25px auto 10px;
        color: #43A047;
        text-align: center;
      }

      #mapDialog {
          width: 50%;
      }

      .map-dialog-details{
        font-size: 13px;
        width: 90%;
        margin: 15px auto 10px;
        color: #43A047;
        display: flex;
        justify-content: space-around;
        align-items: center;

      }

    </style>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>
    <techu-clientdetails details="{{details}}" id="movsService" client="{{storedUser}}" loading="{{loading}}" endpoint="[[endpoint]]"></techu-clientdetails>

    <iron-ajax
        id="addRequest"
        method="post"
        content-type="application/json"
        handle-as="text"
        on-response="handleAddRequestResponse"
        on-error="handleAddRequestError"
        loading="{{loading}}"></iron-ajax>


    <div class="techumain" hidden="[[storedUser.loggedin]]">
      <h1>TechU Bank Online Banking</h1>
      <p>Login or register to access your movements</p>
    </div>

    <div  hidden="[[!storedUser.loggedin]]">
      <p class="combo-label">Select Account</p>
      <div class="accounts-combo">
        <vaadin-combo-box  items="{{accountOptions}}" value="{{selectedAccount}}" on-value-changed="valueChange"></vaadin-combo-box>
        <paper-button class="mov-button" raised  on-tap="openAddAccountDialog">Add account</paper-button>
        <paper-button class="mov-button" raised  on-tap="openAddMovsDialog">Add movement</paper-button>
      </div>
      <paper-dialog id="addMovs">
        <div class="datePicker">
          <vaadin-date-picker  placeholder="Pick a date" value="{{formData.date}}"></vaadin-date-picker>*
        </div>

        <paper-input always-float-label  allowed-pattern="[\w.,-_\s]" auto-validate placeholder="Item" value="{{formData.item}}">
          <div slot="suffix">*</div>
        </paper-input>
        <paper-input always-float-label allowed-pattern="[\d.,-]"  auto-validate  placeholder="Amount" value="{{formData.amount}}">
          <div slot="suffix">*</div>
        </paper-input>
        <paper-input always-float-label allowed-pattern="[\w.,-_\s]" placeholder="Category" value="{{formData.category}}">
          <div slot="suffix">*</div>
        </paper-input>
        <paper-input always-float-label allowed-pattern="[\w.,-_\s]" placeholder="Address" value="{{formData.address}}">
        </paper-input>
        <div class="dialog-buttons">
          <paper-button class="dialog-button" dialog-dismiss>Cancel</paper-button>
          <paper-button class="dialog-button" dialog-confirm autofocus on-tap="addMov" disabled$="{{addMovDisabled}}">Add Mov</paper-button>
        </div>
      </paper-dialog>

      <paper-dialog id="addAccount">

        <div class="account-dialog-text">A new account will be automatically generated with the format</div>
        <div class="account-dialog-text">ES99-DNI digits-index</div>
        <div class="dialog-buttons">
          <paper-button class="dialog-button" dialog-dismiss>Cancel</paper-button>
          <paper-button class="dialog-button" dialog-confirm autofocus on-tap="addAccount">Add Account</paper-button>
        </div>
      </paper-dialog>

      <paper-dialog id="mapDialog">
        <div class="map-dialog-details">
          <div><b>Date:</b> {{activeItem.date.$date}}</br><b>Item:</b> {{activeItem.item}}</br><b>Amount:</b> {{activeItem.amount}}€</br><b>Category:</b> {{activeItem.category}}</div>
          <techu-map  id="techuMap" address="{{activeItem.address}}"></techu-map>
        </div>

        <div class="dialog-buttons">
          <paper-button class="dialog-button" dialog-confirm autofocus>Close</paper-button>
        </div>
      </paper-dialog>

      <div class="combo-label">
        <span>Movements</span>
        <span class="reload">
          <paper-icon-button icon="icons:refresh" on-tap="reload"></paper-icon-button>
        </span>
      </div>

      <template is="dom-if" if="{{loading}}">
        <paper-progress value="10" indeterminate="true" ></paper-progress>
      </template>

      <vaadin-grid  id="movsTable" aria-label="Movements List" items="{{movements}}" multi-sort="true" active-item="{{activeItem}}">
        <template class="row-details">
          <div>
            <p>Index:[[index]]</p>
            <techu-map id="[[index]]" address="{{activeItem.address}}"></techu-map>
          </div>
        </template>
        <vaadin-grid-column >
          <template class="header">
            <div class="header-content"><vaadin-grid-sorter path="date.$date">Date</vaadin-grid-sorter></div>
          </template>
          <template>[[filterDate(item.date.$date)]]</template>
          <!-- If necessary, the footer could be set using <template class="footer"> -->
          <template class="footer">
            <div class="header-content">Date</div>
          </template>
        </vaadin-grid-column>

        <vaadin-grid-column>
          <template class="header">
            <div class="header-content">Item</div>
          </template>
          <template>[[item.item]]</template>
          <template class="footer">
            <div class="header-content">Item</div>
          </template>
        </vaadin-grid-column>

        <vaadin-grid-column>
          <template class="header">
            <div class="header-content"><vaadin-grid-sorter path="amount">Amount</vaadin-grid-sorter></div>
          </template>
          <template>
            <div>[[item.amount]]€</div>
          </template>
          <template class="footer">
            <div class="header-content">Amount</div>
          </template>
        </vaadin-grid-column>

        <vaadin-grid-column>
          <template class="header">
            <div class="header-content">Category</vaadin-grid-sorter></div>
          </template>

          <template><div part="row">[[item.category]]</div></template>
          <template class="footer">
            <div class="header-content">Category</div>
          </template>
        </vaadin-grid-column>
      </vaadin-grid>
    </div>
  </template>

  <script>
    class TechuMov extends Polymer.Element {
      static get is() { return 'techu-mov'; }

      static get properties() {
        return {
          storedUser: Object,
          activeItem: {
            observer: '_activeItemChanged'
          },
         accountOptions:{
             type: Array,
             value:function() { return [] }
         },
         selectedAccount: String,
         details:{
           type:Object,
           observer: '_detailsChanged'
         },
         movements: Array,
         endpoint:String,
         formData: {
           type: Object,
           value: {}
         },
         addMovDisabled: {
           type: Boolean,
           value: true
         }
        };
      }

      static get observers() {
        return [
          'storedUserChanged(storedUser.id)',
          'formDataChanged(formData.*)'
        ]
      }

      filterDate(date){
        if (date) {
          return date.substring(0, 10);
        }
        return date;
      }

      formDataChanged(){
        this.addMovDisabled = !this.formData.item ||this.formData.item =='' || !this.formData.amount|| this.formData.amount =='' || !this.formData.category||this.formData.category =='' || !this.formData.date|| this.formData.date =='';
      }

      clean() {
        this.details = {};
      }


       _activeItemChanged(activeItem, currentItem) {
         if (activeItem != undefined){
           this.$.mapDialog.open();
         }
       }

      storedUserChanged(){
        if (this.storedUser!= undefined && this.storedUser.loggedin && this.storedUser.id != "") {
          this.$.movsService.requestMovs();
        }
      }

      reload() {
        this.$.movsService.requestMovs();
      }

      valueChange(data){
        var changedValue = data.detail.value;
        if (this.details) {
          this.$.movsTable.clearCache();
          var accounts = this.details.accounts;
          if (this.selectedAccount != changedValue) {
            var i;
            for (i = 0; i < accounts.length; i++) {
              if (changedValue == accounts[i].accountId) {
                this.movements = accounts[i].movs;
                this.selectedAccount = accounts[i].accountId;
                this.activeItem = null;
                break;
              }
            }
          }
        }
      }

      _detailsChanged(details){
        this.movements = null;
        this.accountOptions = null;
        this.selectedAccount = null;
        if (details && details.accounts && details.accounts.length>0) {
          var accounts = details.accounts;
          this.movements = accounts[0].movs;
          this.selectedAccount = accounts[0].accountId;

          var accountIdList=[];
          var i;
          for (i = 0; i < accounts.length; i++) {
            accountIdList.push(accounts[i].accountId);
          }
          this.accountOptions = accountIdList;
        }
      }

      openAddMovsDialog(){
        this.$.addMovs.open();
      }

      addMov(){
        this.$.addRequest.url = this.endpoint+'/clients/'+this.storedUser.id+'/accounts/'+this.selectedAccount+'/movements';
        this.$.addRequest.headers['x-access-token'] = this.storedUser.token;
        this.$.addRequest.body = this.formData;
        this.$.addRequest.generateRequest();
      }

      handleAddRequestResponse(event) {
          var response = JSON.parse(event.detail.response);
          if (response.result == 'OK') {
            this.reload();
          } else {
            alert("Error: "+response.result);
          }
      }

      handleAddRequestError(event) {
        alert(event.detail.request.__dataPending.response);
      }

      openAddAccountDialog() {
        this.$.addAccount.open();
      }

      addAccount(){
        this.$.addRequest.url = this.endpoint+'/clients/'+this.storedUser.id+'/accounts';
        this.$.addRequest.headers['x-access-token'] = this.storedUser.token;
        this.$.addRequest.body = {};
        this.$.addRequest.generateRequest();
      }
    }
    window.customElements.define(TechuMov.is, TechuMov);
  </script>
</dom-module>
