<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-input/paper-input-error.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="techu-signup">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <iron-ajax
        id="loginAjax"
        method="post"
        content-type="application/json"
        handle-as="text"
        on-response="handleUserResponse"
        on-error="handleUserError"
        loading="{{loading}}"></iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>
    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>


    <div class="login-page">
      <h1 class="title">Sign Up</h1>
      <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
      </template>
      <paper-input  always-float-label  allowed-pattern="[\w.]" pattern="^\w[\w.]*\w$" auto-validate placeholder="username" value="{{formData.username}}">
        <iron-icon icon="social:person" slot="prefix"></iron-icon>
        <div slot="suffix">*</div>
      </paper-input>
      <paper-input always-float-label allowed-pattern="[0-9a-zA-Z]" pattern="^\d{8}[a-zA-Z]$" auto-validate  placeholder="DNI format" value="{{formData.id}}">
        <iron-icon icon="social:person" slot="prefix"></iron-icon>
        <div slot="suffix">*</div>
      </paper-input>
      <paper-input always-float-label pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$" placeholder="password" value="{{formData.password}}" type="password">
        <iron-icon icon="lock" slot="prefix"></iron-icon>
        <div slot="suffix">*</div>
      </paper-input>
      <paper-input always-float-label pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$"  placeholder="Confirm password" value="{{formData.password2}}" type="password">
        <iron-icon icon="lock" slot="prefix"></iron-icon>
        <div slot="suffix">*</div>
      </paper-input>

      <paper-button raised class="primary" on-tap="signUp" disabled$="{{signupDisabled}}">Sign Up</paper-button>
    </div>
    <template is="dom-if" if="{{loading}}">
      <paper-progress class="progress-bar" value="10" indeterminate="true" ></paper-progress>
    </template>

  </template>

  <script>
    class TechuSignup extends Polymer.Element {
      static get is() { return 'techu-signup'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          error: String,
          storedUser: Object,
          signupDisabled: {
            type: Boolean,
            value: true
          },
          endpoint:String
        };
      }

      static get observers() {
        return [
          // Observer method name, followed by a list of dependencies, in parenthesis
          'formDataChanged(formData.*)'
        ]
      }

      formDataChanged(){
        this.error='';
        var usernameOk = /^\w[\w.]*\w$/.test(this.formData.username);
        var idOk = /^\d{8}[a-zA-Z]{1}$/.test(this.formData.id);
        var passwordOK = this.formData.password && this.formData.password !='';
        var password2OK = this.formData.password2 && this.formData.password2 !='';
        this.signupDisabled = !usernameOk || !idOk || !passwordOK || !password2OK;
      }

      signUp(){
        var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;
        var passwordOK = passwordRegex.test(this.formData.password);
        var password2OK = passwordRegex.test(this.formData.password2);
        if (!passwordOK || !password2OK) {
          this.error ="Passwords wrong";
        } else {
          if (this.formData.password !=this.formData.password2) {
            this.error ="Passwords do not match";
          } else {
            this.$.loginAjax.url = this.endpoint+'/signup';
            this.$.loginAjax.body = this.formData;
            this.$.loginAjax.generateRequest();
          }
        }

      }

      handleUserResponse(event) {
        var response = JSON.parse(event.detail.response);
        if (response.result == 'OK') {
          this.error = '';
          this.storedUser = {
              name: this.formData.username,
              id: response.id,
              loggedin: false
          };
          this.formData = {};
          this.set('route.path', "/registered");
        } else {
          this.error = "Error: "+ response.detail;
        }
      }

      handleUserError(event) {
        var response = JSON.parse(event.detail.request.__dataPending.response);
        this.error = response.detail;
      }
  }
    window.customElements.define(TechuSignup.is, TechuSignup);
  </script>
</dom-module>
