<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/google-apis/google-apis.html">

<dom-module id="techu-map">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      #map {
        width: 320px;
        height: 200px;
        margin: 0px auto 0px;
      }

      .mapstyle {
        margin: 0px auto 0px;
        color: #43A047;
        font-size: 13px;
        text-align: center;
      }
    </style>

    <google-maps-api api-key="AIzaSyCI3Zl1d3CA9F_yLqqifdDqJFZE4Wfhols" version="3.exp" on-api-load="onApiLoaded"></google-maps-api>
    <div class="mapstyle">
      <b>Address:</b> [[addressText]]
      <div id="map"></div>
    </div>
  </template>

  <script>
    class TechuMap extends Polymer.Element {
      static get is() { return 'techu-map'; }

      static get properties() {
        return {
          address: {
            type: String,
            value: '',
            observer: '_addressChanged'
          },
          addressText: String,
          pending: {
            type:Boolean,
            value:false
          },
          apiLoaded: {
            type:Boolean,
            value:false
          }
        };
      }

      onApiLoaded(){
        this.apiLoaded=true;
        if (this.pending){
          this.pending = false;
          this._generateMap();
        }
      }

      _addressChanged() {
        if (this.address){
          if (this.apiLoaded){
            this._generateMap();
          } else {
            this.pending = true;
          }
        }
      }

      _generateMap(){
        var geocoder = new google.maps.Geocoder();
        var _this=this;
         geocoder.geocode( { 'address': this.address}, function(results, status) {
           if (status == 'OK') {
             _this.addressText =_this.address;
             var mapOptions = {
               zoom: 15,
               center: results[0].geometry.location
             }
             var map = new google.maps.Map(_this.$.map, mapOptions);
             var marker = new google.maps.Marker({
                        position: results[0].geometry.location,
                        map: map,
                        title:"Localizacion",
                        draggable: true
                    });

           } else {
             _this.addressText =_this.address+ " not found by google geolocation";
              var map = new google.maps.Map(_this.$.map, null);
             console.log('Geocode was not successful for the following reason: ' + status);
           }
         });
      }
    }

    window.customElements.define(TechuMap.is, TechuMap);
  </script>
</dom-module>
