<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="app-data.html">

<dom-module id="techu-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

    </style>
    <iron-ajax
        id="loginRequest"
        method="post"
        content-type="application/json"
        handle-as="text"
        on-response="handleUserResponse"
        on-error="handleUserError"
        loading="{{loading}}"></iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>
    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>
    <div class="login-page">

      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
          <h1 class="title">Log In</h1>
          <template is="dom-if" if="[[error]]">
              <p class="alert-error"><strong>Error:</strong> [[error]]</p>
          </template>
          <paper-input always-float-label allowed-pattern="[\w.]" auto-validate placeholder="username" value="{{formData.username}}">
            <iron-icon icon="social:person" slot="prefix"></iron-icon>
          </paper-input>
          <paper-input always-float-label  placeholder="password" value="{{formData.password}}" type="password">
            <iron-icon icon="lock" slot="prefix"></iron-icon>
          </paper-input>

          <paper-button raised class="primary" on-tap="login" disabled$="{{loginDisabled}}">Log In</paper-button>

      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]" class="techumain">
        <h2>Hello, [[storedUser.name]]!</h2>
        <p>You are currently logged in.</p>
      </div>
    </div>
    <template is="dom-if" if="{{loading}}">
      <paper-progress class="progress-bar" value="10" indeterminate="true" ></paper-progress>
    </template>
  </template>

  <script>
    class TechuLogin extends Polymer.Element {
      static get is() { return 'techu-login'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String,
          loginDisabled: {
            type: Boolean,
            value: true
          },
          endpoint:String
        };
      }

      static get observers() {
        return [
          // Observer method name, followed by a list of dependencies, in parenthesis
          'formDataChanged(formData.*)'
        ]
      }

      formDataChanged(){
        this.loginDisabled = this.formData.username ==undefined ||this.formData.username =='' || this.formData.password ==undefined || this.formData.password =='';
      }

      login(){
        this.$.loginRequest.url = this.endpoint+'/login';
        this.$.loginRequest.body = this.formData;
        this.$.loginRequest.generateRequest();
      }

      handleUserResponse(event) {
          var response = JSON.parse(event.detail.response);
          if (response.result == 'OK') {
              this.error = '';
              this.storedUser = {
                  name: response.user,
                  id: response.id,
                  loggedin: true,
                  token:response.token
              };
              this.formData = {};
              this.set('route.path', "/mov");
          } else {
            this.error = "Login Error: "+response.detail;
          }

      }

      handleUserError(event) {
        var response = JSON.parse(event.detail.request.__dataPending.response);
        this.error = response.detail;
        this.storedUser = {
            name: this.formData.username,
            loggedin: false
        };
      }

    }

    window.customElements.define(TechuLogin.is, TechuLogin);
  </script>
</dom-module>
