<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">
<link rel="import" href="../bower_components/vaadin-valo-theme/vaadin-combo-box.html">
<link rel="import" href="../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="app-data.html">
<link rel="import" href="techu-positiondetails.html">
<link rel="import" href="shared-styles.html">

<dom-module id="techu-position">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        --valo-body-text-color:rgb(133, 139, 155);;
        --valo-secondary-text-color:#43A047;
        --valo-font-size:13px;
      }

      .chart{
        display:inline-block;
      }

      .mainChart{
        width: 60%;
        margin: 0px auto 10px;
        display: flex;
        justify-content: space-around;
      }

      .mainChart[hidden] {
        display: none;
      }

      .total{
        width: 59%;
        margin: 10px auto 10px;
        display: flex;
        justify-content: space-around;
        text-align: center;
      }

      .pos-combo {
        width: 680px;
        margin: 10px auto 40px;
      }

      .pos-button {
        width: 120px;
        padding: 10px;
        font-size: 12px;
      }

      paper-progress {
        width: 59%;
        margin: 0px auto 0px;
      }
    </style>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>
    <techu-positiondetails details="{{details}}" id="positionService" client="{{storedUser}}" loading="{{loading}}" endpoint="[[endpoint]]"></techu-positiondetails>

    <div class="techumain" hidden="[[storedUser.loggedin]]">
      <h1>TechU Bank Online Banking</h1>
      <p>Login or register to access your position</p>
    </div>

    <div  hidden="[[!storedUser.loggedin]]" >
      <div class="pos-combo">
        <span class="combo-label">Select Year</span>
        <vaadin-combo-box  items="{{yearOptions}}" value="{{selectedYear}}" placeholder="YYYY"></vaadin-combo-box>
        <span class="combo-label">Select Month</span>
        <vaadin-combo-box  items="{{monthOptions}}" value="{{selectedMonth}}" placeholder="MM"></vaadin-combo-box>
        <paper-button class="pos-button" raised on-tap="getPosition">Get position</paper-button>

      </div>
      <template is="dom-if" if="{{show}}">
        <div class="total">
          <span class="combo-label">Expenses <b>[[details.expenses.total]]€</b></span>
          <span class="combo-label">Incomes <b>[[details.incomes.total]]€</b></span>
        </div>
      </template>

      <template is="dom-if" if="{{loading}}">
        <paper-progress value="10" indeterminate="true" ></paper-progress>
      </template>


      <div class="mainChart" hidden="{{!show}}">
        <div class="chart">
          <google-chart
            type='pie'
            options='{"title": "Expenses"}'
            data='{{expensesDT}}'
          </google-chart>
        </div>
        <div class="chart">
          <google-chart
            type='pie'
            options='{"title": "Incomes"}'
            data='{{incomesDT}}'
          </google-chart>
        </div>
      </div>



  </div>
  </template>

  <script>
    class TechuPosition extends Polymer.Element {
      static get is() { return 'techu-position'; }

      static get properties() {
        return {
          storedUser: Object,
          details:{
            type:Object,
            observer: '_detailsChanged'
          },
          expensesDT:Object,
          incomesDT:Object,
          yearOptions:{
            type:Array,
            value:function() { return [] }
          },
          monthOptions:{
            type:Array,
            value:function() { return [12,11,10,9,8,7,6,5,4,3,2,1] }
          },
          selectedYear:{
            type:Number
          },
          selectedMonth:{
            type:Number
          },
          show: {
            type:Boolean,
            value:false
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
        let date= new Date();
        var i;
        var years= [];
        for (i = date.getFullYear(); i >= 2010; i--) {
          years.push(i);
        }
        this.yearOptions=years;
      }

      clean() {
        var position = {
          expenses:{
            total:0,
            categories:{}
          },
          incomes:{
            total:0,
            categories:{}
          }
        }
        this.details=position;
      }

      _detailsChanged(details){
        this.expensesDT = new google.visualization.DataTable();
        this.incomesDT = new google.visualization.DataTable();

        if (details && (details.expenses && details.expenses.total >0 || details.incomes && details.incomes.total >0)){
          this.show = true;

          this.expensesDT.addColumn('string', 'Category');
          this.expensesDT.addColumn('number', 'Amount');
          for (var category in details.expenses.categories) {
            let amount=details.expenses.categories[category];
            this.expensesDT.addRow([category,amount]);
          }
          this.incomesDT.addColumn('string', 'Category');
          this.incomesDT.addColumn('number', 'Amount');
          for (var category in details.incomes.categories) {
            let amount=details.incomes.categories[category];
            this.incomesDT.addRow([category,amount]);
          }
        } else {
          this.show = false;
          //alert("No data were found for selected Year/Month");
        }
      }

      getPosition() {
        var yearRegex =/^[0-9]{4}$/;
        var monthRegex =/^(0?[1-9]|1[012])$/;
        if (yearRegex.test(this.selectedYear) && monthRegex.test(this.selectedMonth)) {
          this.$.positionService.requestPosition(this.selectedYear, this.selectedMonth);
        } else {
          alert("Select correct values for Month and  Year");
        }

      }
    }
    window.customElements.define(TechuPosition.is, TechuPosition);
  </script>
</dom-module>
