<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="app-data.html">

<link rel="lazy-import" href="techu-start.html">
<link rel="lazy-import" href="techu-login.html">
<link rel="lazy-import" href="techu-signup.html">
<link rel="lazy-import" href="techu-mov.html">
<link rel="lazy-import" href="techu-position.html">
<link rel="lazy-import" href="techu-logout.html">
<link rel="lazy-import" href="techu-registered.html">
<link rel="lazy-import" href="techu-404.html">

<dom-module id="techu-app">
  <template>
    <style>
      :host {
        --app-primary-color: #43A047;
        display: block;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      app-header .greeting {
          color: #fff;
          font-size: 15px;
      }

      .toolbar {
        margin: 0 100px;
      }

      .tabs-bar {
        box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
        background-color: #d9e2dc;
      }

      paper-tabs {
        --paper-tabs-selection-bar-color: #43A047;
        height: 100%;
        max-width: 640px;
        margin: 0 100px;
      }
      paper-tab {
        --paper-tab-ink: #aaa;
        color: #43A047;
      }

      .toolbar-list {
        margin: 0 20px;
      }

      .toolbar-list a {
        padding: 0 16px;
        text-decoration: none;
        color:  #fff;
        line-height: 40px;
        font-size: 15px;
        cursor: pointer;
      }

      .toolbar-list a.iron-selected {
        color: #e0e1e2;
      }
    </style>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>
    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-header-layout>
      <app-header slot="header" fixed>
        <app-toolbar class="toolbar">
          <paper-icon-button src="images/favicon.ico" drawer-toggle></paper-icon-button>
          <div main-title>TechU Bank</div>
          <iron-selector selected="{{page}}" attr-for-selected="name" class="toolbar-list">
            <a name="start" >Home</a>
            <template is="dom-if" if="[[!storedUser.loggedin]]">
              <a name="login">Login</a>
              <a name="signup">Sign Up</a>
            </template>
            <template is="dom-if" if="[[storedUser.loggedin]]">
              <span  name="{{page}}" class="greeting">Hi [[storedUser.name]]!</span>
              <a name="logout"  on-tap="logout">LogOut</a>
            </template>
          </iron-selector>
        </app-toolbar>
        <app-toolbar class="tabs-bar">
          <paper-tabs selected="{{page}}" attr-for-selected="name">
            <paper-tab name="mov">Movements</paper-tab>
            <paper-tab name="position">Position</paper-tab>
          </paper-tabs>
        </app-toolbar>
      </app-header>
      <div>
        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="start"
            role="main">
          <techu-start name="start"></techu-start>
          <techu-login id="loginComp" name="login" endpoint="[[clientsEndPoint]]"></techu-login>
          <techu-signup id="signupComp" name="signup" endpoint="[[clientsEndPoint]]"></techu-signup>
          <techu-mov id="techuMov" name="mov" endpoint="[[clientsEndPoint]]"></techu-mov>
          <techu-logout name="logout" user="{{userName}}"></techu-logout>
          <techu-registered name="registered" user="{{storedUser.name}}"></techu-registered>
          <techu-position id="techuPos" name="position" endpoint="[[clientsEndPoint]]"></techu-position>
          <techu-404 name="404"></techu-404>
        </iron-pages>
      </div>
    </app-header-layout>
  </template>

  <script>
    class TechuApp extends Polymer.Element {
      static get is() { return 'techu-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          storedUser:Object,
          userName: {
            type: String
          },
          clientsEndPoint: {
            type: String,
            value: 'https://192.168.99.100:8443'
            //value: 'https://localhost:8443'
            //value: 'https://techubank-back-nr:8443'
          },
          selectedTab:{
            type: String,
            reflectToAttribute: true,
            observer: '_selectedTabChanged',
          }

        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }


      logout() {
          this.userName = this.storedUser.name;// remove user data
          this.storedUser = null;
          if (this.$.techuMov){
            this.$.techuMov.clean();
          }
          if (this.$.techuPos){
            this.$.techuPos.clean();
          }

        }

      _selectedTabChanged(selectedTab) {
          // If no page was found in the route data, page will be an empty string.
          // Default to 'view1' in that case.
          this.page = selectedTab || 'start';
        }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'start';
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('techu-'+page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
        this.set('route.path', "/"+page);
      }

      _showPage404() {
        this.page = '404';
      }

    }

    window.customElements.define(TechuApp.is, TechuApp);
  </script>
</dom-module>
