<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-column.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="techu-positiondetails">
  <style>
    :host {
      display: none;
    }
  </style>
  <template>
    <iron-ajax id="requestPositionDetails"  handle-as="json" on-response="handleResponse" on-error="handleError"></iron-ajax>

  </template>

  <script>
    class TechuPositionDetails extends Polymer.Element {
      static get is() { return 'techu-positiondetails'; }

      static get properties() {
        return {
          client: Object,
          details: {
            type: Object,
            notify: true
          },
          loading: {
            type: Boolean,
            notify: true,
            value: false
          },
          endpoint:String
        };
      }

      requestPosition(year, month){
        this.loading =true;
        this.$.requestPositionDetails.url = this.endpoint+'/clients/'+this.client.id+"/position/"+year+"/"+month;
        this.$.requestPositionDetails.headers['x-access-token'] = this.client.token;
        this.$.requestPositionDetails.generateRequest();
      }

      handleResponse(data) {
        this.details = data.detail.response.detail;
        this.loading =false;
      }

      handleError(data){
        alert(event.detail.request.__dataPending.response.detail);
        this.details = undefined;
        this.loading =false;
      }
    }
    window.customElements.define(TechuPositionDetails.is, TechuPositionDetails);
  </script>
</dom-module>
